.acc-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .acc-dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .acc-dropdown-content .dd-content {
    padding: 12px 16px;
    cursor: pointer;
  }
  
  .acc-dropdown .dd-content:hover {
    background-color: #ddd;
  }
  
  .ac-num {
    color: rgb(71, 71, 102);
  }
  
  .drop {
    color: rgb(87, 177, 145);
  }
  
  .acc-details {
    font-weight: 700;
  }
  
  .acc-detail-types {
    margin-top: 50px;
    width: 40%;
  }
  
  .acc-heading {
    color: red;
  }
  
  .acc-m-b {
    margin-bottom: 24px;
  }
  
  .acc-content {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .d__flex {
    width: 54.3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .d__flex1 {
    width: 16vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .acc-form-content {
    width: 30.15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .acc label {
    width: 100%;
    text-align: left;
    margin-right: 0;
    margin-bottom: 5px;
  }